# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# TensorFlow / Keras
*.h5
*.keras
saved_model/
checkpoints/

# CNN project artifacts
CNN/**/runs/
CNN/**/output/
CNN/**/Data/
CNN/**/data/
CNN/**/dataset/
CNN/**/images/
CNN/**/labels/
CNN/**/*.bin
CNN/**/*.weights
runs/**
# Python distribution
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env